<div class="p-4">
	<form [formGroup]="searchForm" (ngSubmit)="searchRepositories()">
		<div class="relative w-1/2">
			<label for="query" class="sr-only">Search</label>
			<input
				type="text"
				id="query"
				formControlName="query"
				placeholder="Search GitHub repositories"
				class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm" />

			<span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
				<button
					type="submit"
					class="text-gray-600 hover:text-gray-700"
					[disabled]="isLoading() || searchForm.invalid">
					<span class="sr-only">Search</span>

					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-4">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
					</svg>
				</button>
			</span>
		</div>
	</form>
</div>
<div class="p-4">
	@if (isLoading()) {
		<div>Loading...</div>
	} @else if (error()) {
		<div>{{ error() }}</div>
	} @else if (repositories().length) {
		<div class="overflow-x-auto">
			<table class="min-w-fit divide-y-2 divide-gray-200 bg-white text-sm">
				<thead>
					<tr>
						<th
							class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900">
							Name
						</th>
						<th class="px-4 py-2"></th>
					</tr>
				</thead>

				<tbody class="divide-y divide-gray-200">
					@for (repo of repositories(); track repo.id) {
						<tr>
							<td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
								{{ repo.full_name }}
							</td>
							<td class="whitespace-nowrap px-4 py-2">
								<a
									[routerLink]="[
										'/github-repository-analytics/',
										repo.owner.login,
										repo.name
									]"
									class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
									Details
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
</div>
