<header class="inset-x-0 top-0 z-50">
	<nav
		class="flex items-center justify-between p-6 lg:px-8"
		aria-label="Global">
		<div class="flex lg:flex-1">
			<a href="#" class="-m-1.5 p-1.5">
				<span>Your App</span>
			</a>
		</div>
		<div class="hidden lg:flex lg:gap-x-12">
			<a
				routerLink="/users"
				class="text-sm font-semibold leading-6 text-gray-900">
				Feature 1
			</a>
		</div>
		<div class="ml-4 hidden lg:flex lg:gap-x-12">
			<a
				routerLink="/files"
				class="text-sm font-semibold leading-6 text-gray-900">
				Feature 2
			</a>
		</div>
	</nav>
</header>
